<%= render '_content_for/script' %>

<div id="banner-main" class="valign-wrapper">
  <div class="container">
    <div class="section no-pad-top center-align">
      <div class="row">
        <div class="col s12">
          <h1>Quando somos bons para os outros, somos ainda melhores para nós</h1>
        </div>
        <div class="col s12">
          <a class="waves-effect waves-light btn modal-trigger btn-large amber accent-1 pulse" href="#modal-add-needy">
            <i class="material-icons left">add_location</i>Ajudar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map"></div> 

<!-- Modal Structure -->
<div id="modal-add-needy" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Marque uma pessoa</h4>
    <div id="add-needy" class="container">
      <div class="section">
        <div class="row">
          <%= form_for(@needy) do |f| %>
            <%=f.hidden_field :latitude %>
            <%=f.hidden_field :longitude%>
            <%=render partial: '_content_for/error_message', locals: {object: @needy}%>                    
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :address, placeholder: '', class: 'autocomplete' %>
                <%= f.label :address%>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :name %>
                <%= f.label :name%>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <%= f.number_field :quantity_person, min: 1 %>
                <%= f.label :quantity_person%>
              </div> 
              <div class="input-field col s6">          
                <%= f.collection_select :category_ids, Category.all, :id, :name, {prompt: 'Selecione uma necessidade'}, {multiple: true, class: 'needy_category'}%>
                <%= f.label :category_ids%>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_area :description,  class: 'materialize-textarea' %>
                <%= f.label :description%>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <%= f.submit class: "waves-effect waves-orange btn-large amber btn-form", value: 'Adicionar', data: {disable_with: 'Adicionando...'}%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer lighten-1">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>