<% if object.errors.full_messages.any? %>
  <div id="error_explanation">
    <h2><%=(object.errors.count > 1 ? "Existem": "Existe")%> <%=object.errors.size%> <%= "erro".pluralize(object.errors.size) %>  abaixo para <%=(object.errors.count > 1 ? "serem corrigidos": "corrigir")%>: </h2>
    <ul>
      <% object.errors.full_messages.each do |error_message| %>
        <li>
          <%= error_message %> 
        </li>
      <% end %>
    </ul>
  </div>
<% end %> 
