<div class="section no-pad-bot">
    <div class="container">
      <div class="row center form-search-main">
        <div class="card amber accent-3">
          <div class="card-content">
            <h3>Reencaminhar instruções de desbloqueio</h3>
          </div>
          <div id="login-user">
            <div class="card-panel">
              <div class="row">
              <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>

                <div class="row">
                  <div class="input-field col s12">
                    <%= f.email_field :email, autofocus: true %>
                    <%= f.label :email %>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <%= f.submit "Reenviar", class: 'waves-effect waves-orange btn-large amber', data: {disable_with: "Reenviando ..."} %>
                  </div>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
